* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

body{
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#header{
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#newBook{
    padding: 10px 20px;
}

#container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.author, .page{
    font-size: 30px;
    font-weight: 500;
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}