* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

body{
    display: grid;
    grid-template-rows: 1fr 10fr;
}

#header{
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    padding: 10px 20px;
    border-radius: 20px;
}

#container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap:20px;
    
}

#container div{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 20px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#container div div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: auto;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.author, .page{
    font-size: 30px;
    font-weight: 500;
}

dialog{
    padding: 20px;
    font-size: 20px;
    position: absolute;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form div{
    display: flex;
    flex-direction: column;
} 

#read{
    align-self:flex-start;
}

::backdrop {
    background-image: linear-gradient(45deg,
            magenta,
            rebeccapurple,
            dodgerblue,
            green);
    opacity: 0.75;
}